.penalty-input {
  width: 40px;
}

.mat-column-bib {
  flex: 0 0 60px !important;
}

.mat-column-penalties4, .mat-column-penalties5, .mat-column-penalties6, .mat-column-penalties7 {
  flex: 0 0 50px !important;
}

.mat-column-marks {
  flex: 0 0 200px !important;
}


/*to fill the whole cell with color*/
/*https://stackoverflow.com/questions/47024346/fill-a-mat-tables-cell-with-a-color*/
.mat-cell, .mat-header-cell {
  flex: 1;
  min-height: 48px;
  display: flex;
  align-items: center;
}
