.mat-column-bib {
  flex: 0 0 30px !important;
}

.mat-column-name {
  flex: 1 1 200px !important;
}

.mat-column-country {
  flex: 0 0 50px !important;
}

.mat-column-penalties {
  flex: 0 0 70px !important;
}

.mat-column-behind {
  flex: 0 0 50px !important;
}

.mat-column-total {
  flex: 0 0 50px !important;
}

.mat-column-qualified {
  flex: 0 0 30px !important;
}


/*to fill the whole cell with color*/
/*https://stackoverflow.com/questions/47024346/fill-a-mat-tables-cell-with-a-color*/
.mat-cell, .mat-header-cell {
  flex: 1;
  min-height: 48px;
  display: flex;
  align-items: center;
}
